{% load leaflet_tags %}
{% load static %}
{% load humanize %}
{% block content %}
<html id="country">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} COVID-19 {% endblock %}</title>
    {{ form.media }}
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="stylesheet" href="{% static "css/corona.css" %}">
    <script type="text/javascript">
      var dataurl = '{% url "corona:country_data" country %}';
      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        map.removeControl(map.zoomControl);
        L.control.zoom({ position: 'bottomright' }).addTo(map);

        function polystyle(feature) {
          return {
            fillColor: '#FFFFFF',
            fillOpacity: 0,
            color: '#443765',
            weight: 2,
            opacity: 1
          };
        }
        function formatNumber(num) {
          return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')
        }

        {% if borders %}
          {% for border in borders %}
            var geojsonFeaturePolygon =
            {{ border.polygon|safe }};
            var geojson = L.geoJSON(geojsonFeaturePolygon, {style: polystyle}).addTo(map);
          {% endfor %}
        {% endif %}

        // Fly to Country Center
        map.flyTo([
        {% for center in centralCountry %}
          {{ center.lat }}
        {% endfor %}
        ,
        {% for center in centralCountry %}
          {{ center.long }}
        {% endfor %}
        ], 5)

        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              pointToLayer: function (feature, latlng) {
                var props = feature.properties;
                icon = L.divIcon({
                  className: 'custom-div-icon',
                  html : `<div class="circle circle1" data-tooltip="${props.state}\nConfirmed: ${props.confirmed}\Increase to previous day: ${props.confirmed_difference}\nDeaths: ${props.deaths}"><div class="circle circle2"><div class="circle circle3"></div></div></div>`,
                  iconSize: [30, 42],
                  iconAnchor: [15, 42]
                });
                return L.marker(latlng, {icon: icon});
              },
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties;
                var title = '';
                if(props.state) { title = props.state; } else { title = props.country_name; }
                var content = `
                <div class="title"><strong>${title}</strong></div>
                <div class="display-detail">
                  <div class="display-box display-confirmed">
                    <div class="cases-number">${formatNumber(props.confirmed)}</div>
                  </div>
                  <div class="display-box display-difference">
                    <div class="cases-number">${formatNumber(props.confirmed_difference)}</div>
                  </div>
                  <div class="display-box display-deaths">
                    <div class="cases-number">${formatNumber(props.deaths)}</div>
                  </div>
                </div>`;
                layer.bindPopup(content);
            }
           }).addTo(map);
          });
      });
    </script>
  </head>
  <body>
    <div id="page">
      <header>
        <a href="{% url "corona:world" %}">
          <div class="header">
            <img class="img-header" src="{% static 'img/covid.png' %}" alt="COVID-19">
              <p class="center">Coronavirus-Monitor</>
          </div>
        </a>
      </header>
      <div class="map">
        {% leaflet_map "main" %}
      </div>
      <div class="sidebar">
        <div class="sidebar-title">
          <div class="display-title">Coronavirus cases {{ country_name }}</div>
          <div class="display-timestamp">
            <strong>Last updated:</strong> {{ date.date }}
          </div>
        </div>
        <div class="display-detail">
          <div class="display-box display-confirmed">
            <div class="cases-number">{{ confirmed_sum.confirmed__sum|intcomma }}</div>
            <div class="cases-label">Confirmed</div>
          </div>
          <div class="display-box display-difference">
            <div class="cases-number">{{ confirmed_difference_sum.confirmed_difference__sum|intcomma }}</div>
            <div class="cases-label">Increase</div>
          </div>
          <div class="display-box display-deaths">
            <div class="cases-number">{{ deaths_sum.deaths__sum|intcomma }}</div>
            <div class="cases-label">Deaths</div>
          </div>
        </div>

        <table class="fixed_header sortable">
          <thead>
            <tr>
              <th class="header-country">States</th>
              <th class="header-confirmed">Confirmed</th>
              <th class="header-increase">Increase</th>
              <th class="header-deaths">Deaths</th>
            </tr>
          </thead>
          <tbody>
            {% if data %}
            {% for row in data %}
              <tr>
                <td class="body-country"><a href="{% url 'corona:state' row.country_slug row.state_slug %}"><span class="title">{{ row.state }}</span></a></td>
                <td class="body-confirmed"><span class="confirmed"><span style="display:none;">{{ row.confirmed }}</span>{{ row.confirmed|intcomma }}</span></td>
                <td class="body-increase"><span class="difference"><span style="display:none;">{{ row.confirmed_difference }}</span>{{ row.confirmed_difference|intcomma }}</span></td>
                <td class="body-deaths"><span class="deaths"><span style="display:none;">{{ row.deaths }}</span>{{ row.deaths|intcomma }}</span></td>
              </tr>
            {% endfor %}
            {% else %}
            <tr colspan="4">
              <td class="nodata"><span>No data available.</span></td>
            </tr>
            {% endif %}
          </tbody>
        </table>

      </div>
      <div class="legal">
        <div class="sources">
          <p>
            <strong>Sources:</strong> <a href="https://coronadatascraper.com" target="_blank">coronadatascraper.com</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
