{% load leaflet_tags %}
{% load static %}
{% load humanize %}
{% block content %}
<html id="world">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} COVID-19 {% endblock %}</title>
    {{ form.media }}
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="stylesheet" href="{% static "css/corona.css" %}">
    <script type="text/javascript">
      var dataurl = '{% url "corona:world_data" %}';
      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        map.removeControl(map.zoomControl);
        L.control.zoom({ position: 'bottomright' }).addTo(map);

        function polystyle(feature) {
          return {
            fillColor: '#FFFFFF',
            fillOpacity: 0,
            color: '#443765',
            weight: 2,
            opacity: 1
          };
        }
        function formatNumber(num) {
          return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.')
        }

        {% if borders %}
          {% for border in borders %}
            var geojsonFeaturePolygon =
            {{ border.polygon|safe }};
            var geojson = L.geoJSON(geojsonFeaturePolygon, {style: polystyle}).addTo(map);
          {% endfor %}
        {% endif %}

        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              pointToLayer: function (feature, latlng) {
                var props = feature.properties;
                icon = L.divIcon({
                  className: 'custom-div-icon',
                  html : `<div class="circle circle1" data-tooltip="&lt;span&gt;${props.country_name}\nConfirmed: ${props.confirmed}\nIncrease to previous day: ${props.confirmed_difference}\nDeaths: ${props.deaths}"><div class="circle circle2"><div class="circle circle3"></div></div></div>`,
                  iconSize: [30, 42],
                  iconAnchor: [15, 42]
                });
                return L.marker(latlng, {icon: icon});
              },
              onEachFeature: function onEachFeature(feature, layer) {

                var props = feature.properties;
                var content = `
                <div class="title"><strong>${props.country_name}</strong></div>
                <div class="display-detail">
                  <div class="display-box display-confirmed">
                    <div class="cases-number">${formatNumber(props.confirmed)}</div>
                  </div>
                  <div class="display-box display-difference">
                    <div class="cases-number">${formatNumber(props.confirmed_difference)}</div>
                  </div>
                  <div class="display-box display-deaths">
                    <div class="cases-number">${formatNumber(props.deaths)}</div>
                  </div>
                </div>`;
                layer.bindPopup(content);
            }
           }).addTo(map);
          });
      });
    </script>
  </head>
  <body>
    <div id="page">
      <header>
        <a href="{% url "corona:world" %}">
          <div class="header">
            <img class="img-header" src="{% static 'img/covid.png' %}" alt="COVID-19">
              <p class="center">Coronavirus-Monitor</>
          </div>
        </a>
      </header>
      <div class="map">
        {% leaflet_map "main" %}
      </div>
      <div class="sidebar">
        <div class="sidebar-title">
          <div class="display-title">Coronavirus cases Worldwide</div>
          <div class="display-timestamp">
            <strong>Last updated:</strong> {{ date.date }}
          </div>
        </div>

        <span class="switch-component detail-switch" tabindex="0"><span class="switch-component-inner"></span></span>

        <div class="display-detail">
          <div class="display-box display-confirmed">
            <div class="cases-number">{{ confirmed_sum.confirmed__sum|intcomma }}</div>
            <div class="cases-label">Confirmed</div>
          </div>
          <div class="display-box display-difference">
            <div class="cases-number">{{ confirmed_difference_sum.confirmed_difference__sum|intcomma }}</div>
            <div class="cases-label">Increase</div>
          </div>
          <div class="display-box display-deaths">
            <div class="cases-number">{{ deaths_sum.deaths__sum|intcomma }}</div>
            <div class="cases-label">Deaths</div>
          </div>
        </div>
        <div class="box-list-title">
          <span class="country">Countries</span>
        </div>
        {% if data %}
        <div class="box-list-height">
          {% for row in data %}
          <a href="{% url 'corona:country' row.country_slug %}">
            <div class="box-list-item">
              <span class="title">{{ row.country_name }}</span>
              <div class="right">
                <span class="confirmed">{{ row.confirmed|intcomma }}</span>
                <span class="difference">{{ row.confirmed_difference|intcomma }}</span>
                <span class="deaths">{{ row.deaths|intcomma }}</span>
              </div>
            </div>
          </a>
          {% endfor %}
        </div>
        {% else %}
        <div class="box-list-item">
          <span class="nodata">No data available.</span>
        </div>
        {% endif %}
      </div>
      <div class="legal">
        <div class="sources">
          <p>
            <strong>Sources:</strong> <a href="https://coronadatascraper.com" target="_blank">coronadatascraper.com</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
