:root {
  /* Light mode */
  --light-background-color: #FFFFFF;
  --light-color: #222222;
  --light-header-background-color: #EEEEEE;
  --light-border-color: #CCCCCC;
  --light-sidebar-background-color: #EEEEEE;
  --light-confirmed-background-color: rgba(68,55,101,0.3);
  --light-recovered-background-color: rgba(249,122,45,0.3);
  --light-difference-background-color: rgba(249,122,45,0.3);
  --light-deaths-background-color: rgba(48,36,45,0.1);
  --light-confirmed-color: #443765;
  --light-recovered-color: #F97A2d;
  --light-difference-color: #F97A2d;
  --light-deaths-color: #30242D;
  --light-boxlist-title-border-bottom: #606060;

  /* Dark mode */
  --dark-background-color: #000000;
  --dark-color: #BDBDBD;
  --dark-header-background-color: #EEEEEE;
  --dark-border-color: #363636;
  --dark-sidebar-background-color: #222222;
  --dark-confirmed-background-color: rgba(68,55,101,0.3);
  --dark-recovered-background-color: rgba(249,122,45,0.3);
  --dark-difference-background-color: rgba(249,122,45,0.3);
  --dark-deaths-background-color: rgba(48,36,45,0.1);
  --dark-confirmed-color: #443765;
  --dark-recovered-color: #F97A2d;
  --dark-difference-color: #F97A2d;
  --dark-deaths-color: #30242D;
  --dark-boxlist-title-border-bottom: #606060;


  /* Light mode */
  --light-switch-shadow: #373d4e;
  --light-switch-icon: "🌚";
  --light-switch-text: "Dark mode!";

  /* Dark mode */
  --dark-switch-shadow: #fce477;
  --dark-switch-icon: "🌝";
  --dark-switch-text: "Light mode!";


  /* Default mode */
  --switch-shadow: var(--light-switch-shadow);
  --switch-icon: var(--light-switch-icon);
  --switch-text: var(--light-switch-text);

  --background-color: var(--light-background-color);
  --color: var(--light-color);
  --header-background-color: var(--light-header-background-color);
  --border-color: var(--light-border-color);
  --sidebar-background-color: var(--light-sidebar-background-color);
  --confirmed-background-color: var(--light-confirmed-background-color);
  --recovered-background-color: var(--light-recovered-background-color);
  --difference-background-color: var(--light-difference-background-color);
  --deaths-background-color: var(--light-deaths-background-color);
  --confirmed-color: var(--light-confirmed-color);
  --recovered-color: var(--light-recovered-color);
  --difference-color: var(--light-difference-color);
  --deaths-color: var(--light-deaths-color);
  --boxlist-title-border-bottom: var(--light-boxlist-title-border-bottom);
}

.theme-switch:checked ~ #page {
  --switch-shadow: var(--dark-switch-shadow);
  --switch-icon: var(--dark-switch-icon);
  --switch-text: var(--dark-switch-text);
}

html {
  font-size: 16px;
  color: var(---color);
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto Condensed', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
}
a, a:visited, a:hover, a:active {
  color: var(--color);
  text-decoration: none;
}
p {
  padding: 0;
  margin: 0;
}
.center {
  text-align: center;
}
.right {
  float: right;
}
div.header p {
  display: inline;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.4rem;
  border-radius: 5px;
}
div.header img.img-header {
  display: inline;
  width: 2.2rem;
}
.header {
  z-index:1000;
  padding: 0rem 0.4rem;
  background-color: var(--header-background-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}
.legal {
  z-index:1000;
  padding: 0.4rem;
  border: 1px solid var(--border-color);
  background-color: var(--sidebar-background-color);
  border-radius: 5px;
}
div.legal div.sources p {
    font-size: 0.6rem;
}
.sidebar {
  z-index:1000;
  padding: 0.4rem;
  border: 1px solid var(--border-color);
  background-color: var(--sidebar-background-color);
  border-radius: 4px;
  box-shadow: 0 3px 15px rgba(0,0,0,0.15);
}
.sidebar-title {
  padding: 0.3rem;
}
.display-title {
  font-weight: 700;
  text-align: left;
  margin-bottom: 0.3rem;;
}
.display-timestamp {
  font-size: 0.75rem;
}
.display-detail {
  display: flex;
  justify-content: space-between;
}
.display-box {
  text-align: center;
  padding: 0.5rem 0.25rem;
  width: 32.5%;
  border-radius: 4px;
  line-height: 1.1rem;
  margin: 0.3rem;;
}
.display-confirmed {
  background-color: var(--confirmed-background-color);
  color: var(--confirmed-color);
}
.display-recovered {
  background-color: var(--recovered-background-color);
  color: var(--recovered-color);
}
.display-difference {
  background-color: var(--difference-background-color);
  color: var(--difference-color);
}
.display-deaths {
  background-color: var(--deaths-background-color);
  color: var(--deaths-color);
}
.cases-number {
  font-weight: 700;
}
.cases-label {
  font-size: 0.8rem;
}
.box-list-title {
  padding: 0.3rem;
  font-weight: bold;
  font-size: 0.9rem;
  border-bottom: 1px solid var(--boxlist-title-border-bottom);
}
div.box-list-title span.confirmed,
div.box-list-title span.recovered,
div.box-list-title span.difference,
div.box-list-title span.deaths {
  display: inline-block;
  text-align: right;
  font-weight: bold;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: right;
  width: 3.75rem;
}

.box-list-item {
  padding: 0.3rem;
  font-size: 0.75rem;
  border-bottom: 1px solid var(--border-color);
}
div.box-list-item span.title {
  display: inline-block;
  text-align: left;
}
div.box-list-item span {
  display: inline-block;
  font-weight: bold;
  text-align: right;
}
div.box-list-item span.confirmed {
  color: var(--confirmed-color);
}
div.box-list-item span.recovered {
  color: var(--recovered-color);
}
div.box-list-item span.difference {
  color: var(--difference-color);
}
div.box-list-item span.deaths {
  color: var(--deaths-color);
}
div.box-list-item span.nodata {
  width: 25vw;
  text-align: left;
}

/* Map Marker */
div.circle {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
}
.circle1 {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: var(--confirmed-color);
  opacity: 1;
  margin: 8px 0 0 -15px;
}
.circle2 {
  transform: translate(25%, 25%);
  width: 20px;
  height: 20px;
  background-color: var(--difference-color);
  margin: -15px 0 0 -15px;
}
.circle3 {
  transform: translate(48%, 46%);
  width: 10px;
  height: 10px;
  background-color: var(--deaths-color);
  margin: -10px 0 0 -10px;
}
/* Map Marker */

/* Map Marker Tooltip */
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: var(--sidebar-background-color);
    color: var(--color);
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}
.leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: left;
    border-radius: 5px;
}
.leaflet-popup-content {
    margin: 13px 13px;
    line-height: 1.4;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    color: #333;
}
.leaflet-popup-content-wrapper {
    text-align: left;
}
.leaflet-popup-content p {
    margin: 18px 0;
}
div.leaflet-popup-content div.title {
  font-size: 0.8rem;
  padding-left: 0.4rem;
}


/* Media Query */
/* Extra small devices */
@media only screen and (max-width:600px) {
  .header {
    display:inline-flex;
    align-items:center;
    width: 98vw;
    padding: 0;
    padding-left: 0.4rem;
  }
  .legal {
    width: 96vw;
  }
  .leaflet-container {
    height: 50vh;
  }
  .sidebar {
    width: 96vw;
  }
  .box-list-height {
    height: calc(50vh);
    overflow-y: auto;
    overflow-x: hidden;
  }
  div.box-list-item span.title {
    width: 30vw;
  }
  div.box-list-item span {
    width: 3rem;
  }
}
/* Small devices (portrait tablet and phones) */
@media only screen and (min-width:600px) {
  .header {
    display:inline-flex;
    align-items:center;
    width: 98vw;
    padding: 0;
    padding-left: 0.4rem;
  }
  .legal {
    width: 100vw;
  }
  .leaflet-container {
    height: 50vh;
  }
  .sidebar {
    width: 100vw;
  }
  .box-list-height {
    height: calc(50vh);
    overflow-y: auto;
    overflow-x: hidden;
  }
  div.box-list-item span.title {
    width: 30vw;
  }
  div.box-list-item span {
    width: 3rem;
  }
}
/* Medium devices (landscape tablets) */
@media only screen and (min-width:768px) {
  .header {
    display:inline-flex;
    align-items:center;
    width: 98vw;
    padding: 0;
    padding-left: 0.4rem;
  }
  .legal {
    position: absolute;
    bottom:10px;
    left:10px;
    width: auto;
  }
  .leaflet-container {
    height: 100vh;
  }
  .sidebar {
    position: absolute;
    top: 55px;
    left: 10px;
    width: 18rem;
  }
  .box-list-height {
    height: calc(51vh);
    overflow-y: auto;
    overflow-x: hidden;
  }
  div.box-list-item span.title {
    width: 30vw;
  }
  div.box-list-item span {
    width: 3rem;
  }
}
/* Large devices (laptops/desktops 992px and above...) */
@media only screen and (min-width:992px) {
  .header {
    display:inline-flex;
    align-items:center;
    position: absolute;
    top:10px;
    left:10px;
    width: auto;
    padding: 0rem 0.4rem;
  }
  .legal {
    position: absolute;
    bottom:10px;
    left:10px;
    width: None;
  }
  .leaflet-container {
    height: 100vh;
  }
  .sidebar {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 22rem;
  }
  .box-list-height {
     height: calc(100vh - 222px - 36px);
     overflow-y: auto;
     overflow-x: hidden;
  }
  div.box-list-item span.title {
    width: 35%;
  }
  div.box-list-item span {
    width: 3.75rem;
  }
}
/* Extra small devices (large laptops and deskops ) */
@media only screen and (min-width:1200px) {
  .header {
    display:inline-flex;
    align-items:center;
    position: absolute;
    top:10px;
    left:10px;
    width: auto;
    padding: 0rem 0.4rem;
  }
  .legal {
    position: absolute;
    bottom:10px;
    left:10px;
    width: None;
  }
  .leaflet-container {
    height: 100vh;
  }
  .sidebar {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 22rem;
  }
  .box-list-height {
     height: calc(100vh - 222px - 36px);
     overflow-y: auto;
     overflow-x: hidden;
  }
  div.box-list-item span.title {
    width: ;
  }
  div.box-list-item span {
    width: 3.75rem;
  }
}
