{% load leaflet_tags %}
{% load static %}
{% load humanize %}
{% block content %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/> -->
    <title>{% block title %} COVID-19 {% endblock %}</title>

    <script src="https://kit.fontawesome.com/fe6675f162.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "css/bootstrap-4.4.1/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
    {{ form.media }}
    {% leaflet_js %}
    {% leaflet_css %}

    <link rel="stylesheet" href="{% static "css/covid-dark.css" %}">

    <script type="text/javascript">
      var dataurl = '{% url "coronamap:data" %}';

      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties;
                var content = `<p>${props.combinedKey}</p><p>Confirmed: ${props.confirmed}<br/>Deaths: ${props.deaths}<br/>Recovered: ${props.recovered}<br/>Active cases: ${props.active}</p>`;
                layer.bindPopup(content);
            }}).addTo(map);
          });
      });
    </script>
  </head>
  <body class="stretched">
    <div class="row p-0 m-0">
      <div class="col-12 p-2">
        <div class="box">
          <h3>Coronavirus 2019 (COVID-19) - Cases by Country</h3>
        </div>
      </div>
    </div>
    <div class="row p-0 m-0">
      <div class="col-2 pt-0 pr-2 pb-2 pl-2">
        <div class="box center">
          <p class="p-0 m-0">Total Confirmed</p>
          <p id="confirmed">{{ confirmed_number.confirmed__sum|intcomma }}</p>
        </div>

        <div class="box">
          <!-- <p class="p-0 m-0 center">Confirmed Cases by Country</p> -->
          {% if confirmed %}
          <div style="height: 450px; overflow-y: auto; overflow-x: hidden;">
          {% for con in confirmed %}
          <a href="{% url 'coronamap:country' con.country %}">
            <div class="border-bottom-confirmed p-2">
              <span class="box-list" style="color: #E60000;">{{ con.confirmed|intcomma }}</span>
              <span class="box-list">{{ con.combinedKey }}</span>
            </div>
          </a>
          {% endfor %}
          </div>
          {% else %}
          <div class="border-bottom-confirmed p-2">
            <span class="box-list">No data available</span>
          </div>
          {% endif %}
        </div>
      </div>

      <div class="col-6 pt-0 pr-2 pb-2 pl-0">
        <div class="box">
          {% leaflet_map "main" %}
        </div>
      </div>

      <div class="col-2 pt-0 pr-2 pb-2 pl-0">
        <div class="box center">
          <p class="p-0 m-0">Total Deaths</p>
          <p id="deaths">{{ deaths_number.deaths__sum|intcomma }}</p>
        </div>

        <div class="box">
          {% if deaths %}
          <div style="height: 450px; overflow-y: auto; overflow-x: hidden;">
          {% for death in deaths %}
            <div class="border-bottom-confirmed p-2">
              <span class="box-list" style="color: #FFFFFF;">{{ death.deaths|intcomma }}</span>
              <span class="box-list">{{ death.combinedKey }}</span>
            </div>
          {% endfor %}
          </div>
          {% else %}
          <div class="border-bottom-confirmed p-2">
            <span class="box-list">No data available</span>
          </div>
          {% endif %}
        </div>
      </div>

      <div class="col-2 pt-0 pr-2 pb-2 pl-0">
        <div class="box center">
          <p class="p-0 m-0">Total Recovered</p>
          <p id="recovered">{{ recovered_number.recovered__sum|intcomma }}</p>
        </div>

        <div class="box">
          {% if recovered %}
          <div style="height: 450px; overflow-y: auto; overflow-x: hidden;">
          {% for recover in recovered %}
            <div class="border-bottom-confirmed p-2">
              <span class="box-list" style="color: #70a800;">{{ recover.recovered|intcomma }}</span>
              <span class="box-list">{{ recover.combinedKey }}</span>
            </div>
          {% endfor %}
          </div>
          {% else %}
          <div class="border-bottom-confirmed p-2">
            <span class="box-list">No data available</span>
          </div>
          {% endif %}
        </div>
      </div>

    </div>

    <script src="{% static "js/jquery/jquery-3.4.1.js" %}"></script>
    <script src="{% static "js/jquery/jquery-ui.js" %}"></script>
    <script src="{% static "js/bootstrap-4.4.1/bootstrap.js" %}"></script>
  </body>
</html>
{% endblock %}
