{% load leaflet_tags %}
{% load static %}
{% load humanize %}
{% block content %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} COVID-19 {% endblock %}</title>

    {{ form.media }}
    {% leaflet_js %}
    {% leaflet_css %}

    <link rel="stylesheet" href="{% static "css/covid-grid.css" %}">

    <script type="text/javascript">
      var dataurl = '{% url "coronamap:databycountry" country %}';

      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;

        // Fly to Country Center
        map.flyTo([
        {% for center in centralCountry %}
          {{ center.lat }}
        {% endfor %}
        ,
        {% for center in centralCountry %}
          {{ center.long }}
        {% endfor %}
        ], 5)


        // icon = L.divIcon({
        //   className: 'custom-div-icon',
        //   // html: "<div style='background-color: var(--box-background-color);' class='marker-pin'><div class='circle circle2'></div></div>",
        //   html : `<div class="circle circle1" data-tooltip="\nInsgesamt bestätigt: \nTodesfälle:\nDiff. zum Vortag:"><div class="circle circle2"></div></div>`,
        //   iconSize: [30, 42],
        //   iconAnchor: [15, 42]
        // });
        // L.marker([52.866079, 9.684325], { icon: icon }).addTo(map);

        // icon = L.divIcon({
        //   className: 'custom-div-icon',
        //   html: "<div style='background-color: var(--box-background-color);' class='marker-pin'><div class='circle circle2'></div></div>",
        //   // html : `<div class="circle circle1" data-tooltip="\nInsgesamt bestätigt: \nTodesfälle:\nDiff. zum Vortag:"><div class="circle circle2"></div></div>`,
        //   iconSize: [30, 42],
        //   iconAnchor: [15, 42]
        // });
        // L.marker([52.866079, 9.684325], { icon: icon }).addTo(map);

        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {

            L.geoJson(data, {
              pointToLayer: function (feature, latlng) {
                var props = feature.properties;
                icon = L.divIcon({
                  className: 'custom-div-icon',
                  {% if country == "Germany" or country == "germany" %}
                  html: `<div class='marker-pin' data-tooltip="${props.province}\nInsgesamt bestätigt: ${props.confirmed}\nTodesfälle: ${props.deaths}\nDiff. zum Vortag: ${props.difference}"><div class='circle circle2'></div></div>`,
                  {% else %}
                  html: `<div class='marker-pin' data-tooltip="${props.province}\nConfirmed: ${props.confirmed}\nDeaths: ${props.deaths}\nDiff. to previous day: ${props.difference}"><div class='circle circle2'></div></div>`,
                  {% endif %}
                  // html: `<div class='marker-pin' data-tooltip="${props.province}\nInsgesamt bestätigt: ${props.confirmed}\nTodesfälle: ${props.deaths}\nDiff. zum Vortag: ${props.difference}"><div class='circle circle2'></div></div>`,
                  // html : `<div class="circle circle1" data-tooltip="${props.province}\nInsgesamt bestätigt: ${props.confirmed}\nTodesfälle: ${props.deaths}\nDiff. zum Vortag: ${props.difference}"><div class="circle circle2"></div></div>`,
                  iconSize: [30, 42],
                  iconAnchor: [15, 42]
                });
                return L.marker(latlng, {icon: icon});
              },
              onEachFeature: function onEachFeature(feature, layer) {
                // var props = feature.properties;
                // var content = `<p>${props.combinedKey}</p><p>Confirmed: ${props.confirmed}<br/>Deaths: ${props.deaths}<br/>Diff. to previous day: ${props.difference}</p>`;
                // layer.bindPopup(content);
              }
            }).addTo(map);
          });
      });
    </script>
  </head>
  <body>
    <input type="checkbox" class="theme-switch" id="theme-switch">
    <div id="page">
      <div class="wrapper">
        <div class="heading box">
          <span class="heading-box-span"><label for="theme-switch" title="Toggle Dark & Light mode." class="switch-label"></label></span>
          <p class="header">Coronavirus 2019 (COVID-19) -
            {% if country == "Germany" or country == "germany" %}
            Fallzahlen in Deutschland
            {% else %}
            Case numbers in {{ country }}
            {% endif %}

            {% for data in confirmed|slice:":1" %}
            <span class="header-span">
              {% if country == "Germany" or country == "germany" %}
              (Stand vom: {{ data.date }})
              {% else %}
              (Last updated: {{ data.date }})
              {% endif %}
            </span>
            {% endfor %}
          </p>
        </div>
        <div class="legal box">
          <p>
            Data sources: <a href="https://coronadatascraper.com">coronadatascraper.com</a>,
            <a href="https://github.com/Veritas83/">Github - Veritas83</a> and
            <a href="https://github.com/CSSEGISandData/COVID-19">Github - CSSEGISandData</a>
          </p>
        </div>
      </div>

      <div class="wrapper2">
        <div class="confirmed box box-height">
          <div class="center">
            <p class="box-label">
              {% if country == "Germany" or country == "germany"  %}
              Insgesamt bestätigt
              {% else %}
              Total Confirmed
              {% endif %}
            </p>
            <p class="box-label-number confirmed-color">{{ confirmed_number.confirmed__sum|intcomma }}</p>
          </div>
          <div>
            {% if confirmed %}
            <div class="box-list-height">
            {% for con in confirmed %}
            <div class="box-list-item">
              <span class="box-list-item-number confirmed-color">{{ con.confirmed|intcomma }}</span>
              <span>{{ con.province }}</span>
            </div>
            {% endfor %}
            </div>
            {% else %}
            <div>
              <span>
                {% if country == "Germany" or country == "germany" %}
                Keine Daten vorhanden.
                {% else %}
                No data available.
                {% endif %}
              </span>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="map map-box">
          {% leaflet_map "main" %}
        </div>
        <div class="deaths box box-height">
          <div class="center">
            <p class="box-label">
              {% if country == "Germany" or country == "germany" %}
              Todesfälle
              {% else %}
              Total Deaths
              {% endif %}
            </p>
            <p class="box-label-number deaths-color">{{ deaths_number.deaths__sum|intcomma }}</p>
          </div>
          <div>
            {% if deaths %}
            <div class="box-list-height">
            {% for death in deaths %}
              <div class="box-list-item">
                <span class="box-list-item-number deaths-color">{{ death.deaths|intcomma }}</span>
                <span>{{ death.province }}</span>
              </div>
            {% endfor %}
            </div>
            {% else %}
            <div>
              <span>
                {% if country == "Germany" or country == "germany" %}
                Keine Daten vorhanden.
                {% else %}
                No data available.
                {% endif %}
              </span>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="difference box box-height">
          <div class="center">
            <p class="box-label">
              {% if country == "Germany" or country == "germany" %}
              Dif­fe­renz zum Vor­tag
              {% else %}
              Difference to previous day
              {% endif %}
            </p>
            <p class="box-label-number diff-color">{{ diff_number.difference__sum|intcomma }}</p>
          </div>
          <div>
            {% if diff %}
            <div class="box-list-height">
            {% for dif in diff %}
              <div class="box-list-item">
                <span class="box-list-item-number diff-color">{{ dif.difference|intcomma }}</span>
                <span>{{ dif.province }}</span>
              </div>
            {% endfor %}
            </div>
            {% else %}
            <div>
              <span>
                {% if country == "Germany" or country == "germany" %}
                Keine Daten vorhanden.
                {% else %}
                No data available.
                {% endif %}
              </span>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
{% endblock %}
